@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");

:root {
  --dark-magenta-color: hsl(300, 43%, 22%);
  --soft-pink-color: hsl(333, 80%, 67%);
  --magenta-color: hsl(303, 10%, 53%);
  --light-magenta-color: hsl(300, 24%, 96%);
  --white-color: hsl(0, 0%, 100%);
  --spartan-font: "Spartan", sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: var(--spartan-font);
}

.container {
  background-color: var(--white-color);
  background-image: url(images/bg-pattern-top-desktop.svg),
    url(images/bg-pattern-bottom-desktop.svg);
  background-repeat: no-repeat;
  background-size: calc(max(360px, 40%)), calc(max(375px, 75%));
  background-position: 112px -18px, right bottom;
}

.main {
  padding: 70px 15px;
}

.header-title h1 {
  color: var(--dark-magenta-color);
  text-align: center;
  font-weight: 700;
  font-size: 35.2px;
  line-height: 35.2px;
  margin-bottom: 35px;
}

.header-title p {
  color: var(--magenta-color);
  font-weight: 500;
  /* margin-bottom: 35px; */
  text-align: center;
  line-height: 25px;
  letter-spacing: -1px;
}
.content--stars {
  margin-top: 45px;
}
.content--stars-card {
  text-align: center;
  padding: 23px 0px;
  background-color: var(--light-magenta-color);
  margin-bottom: 24px;
  border-radius: 8px;
}

.content--stars-card div {
  margin-bottom: 14px;
  letter-spacing: 5px;
}
.content--stars-card span {
  color: var(--dark-magenta-color);
  font-weight: 700;
}
.content--cards {
  margin-top: 45px;
}

.cards-coments {
  background-color: var(--dark-magenta-color);
  color: var(--white-color);
  padding: 35px 25px;
  font-size: 13.5px;
  border-radius: 8px;
  margin-top: 20px;
}
.cards-coment-text {
  line-height: 24px;
  font-weight: 400;
  font-size: 13px;
}
.cards--coments-header {
  display: flex;
  height: 60px;
  align-items: center;
  margin-bottom: 25px;
}

.cards--coments-header img {
  border-radius: 20px;
  width: 40px;
  height: 40px;
  margin-right: 25px;
}

.coments--header-name {
  font-weight: 700;
  margin-bottom: 8px;
}

.coments--header-verified {
  color: var(--soft-pink-color);
}

@media screen and (min-width: 1440px) {
  .wrapper {
    max-width: 1170px;
    margin: auto;
    height: 100vh;
    display: flex;
    align-items: center;
  }

  .header {
    display: flex;
    justify-content: space-between;
  }
  .header-title {
    max-width: 400px;
  }
  .header-title h1 {
    text-align: left;
    font-size: 51.2px;
    letter-spacing: -1.44px;
    line-height: 51.2px;
    margin-bottom: 13px;
  }
  .header-title p {
    text-align: left;
  }

  .content--stars {
    margin-top: 0px;
    min-width: 600px;
  }

  .content--stars-card {
    display: flex;
    align-items: center;
    width: 85%;
    padding: 15px 0px 15px 20px;
    margin: 0;
    margin-bottom: 20px;
  }
  .content--stars-card div {
    margin: 0;
    margin-right: 25px;
  }
  .content--stars div:nth-child(1) {
    margin-left: 30px;
  }
  .content--stars div:nth-child(2) {
    margin-left: 60px;
  }
  .content--stars div:nth-child(3) {
    margin-left: 90px;
  }

  .cards-coments {
    flex: 1 1 32%;
    max-width: 32%;
    padding: 35px 35px;
    margin: 0;
  }

  .content--cards {
    display: flex;
    justify-content: space-between;
  }
  .content--cards div:nth-child(1) {
    margin-bottom: 40px;
  }
  .content--cards div:nth-child(2) {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .content--cards div:nth-child(3) {
    margin-top: 40px;
  }
}
